/* Form should be centered on the page */
/* Form should have a border around it */
/* Form should have a drop shadow */
/* The background color of the page should be a shade darker than the color of the form  */
/* Password Generated page should have an out put field that has place holder text that says "Password will generate Here */

* {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    Position: relative; 
}

.flex-container {
    display: flex;
}

section {
    position: absolute;
    margin-left: 10%;
    width: 857px;
    height: 566px;
    left: 147px;
    top: 67px;
    background: #FF0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
    text-align: center;
    padding: 2%;
    font-size: 45px;
}

.line-break {
    padding: .01%;
    margin-right: 6%;
    margin-left: 6%;
    background-color: black;
    border-color: black;

}

.password-options {
    text-align: left;
    margin-top: 8%;
    margin-left: 41%;
    align-items: flex-start;
}